<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386220155641-fnr6e373u39ev3cg058jcobjbghfcs6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386220155641-fnr6e373u39ev3cg058jcobjbghfcs6r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386220155641-d2pmq2v4hupi5ovh4ta9h12p80chua0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo4xvNkMJ6OaoPePlJQzwyEzf8XQkfH1E</string>
	<key>GCM_SENDER_ID</key>
	<string>386220155641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lh2424.ucard</string>
	<key>PROJECT_ID</key>
	<string>uollar-5b3f8</string>
	<key>STORAGE_BUCKET</key>
	<string>uollar-5b3f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386220155641:ios:d761205e40ede72198b828</string>
</dict>
</plist>